/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

/* Body Styling */
html,
body {
  height: 100%;
  width: 100%;
  color: #ffffff79;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: inherit; /* Background of the scrollbar track */
  border-radius: 10px; /* Round edges */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering */
}

body {
  overflow-x: hidden;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: black;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(39, 196, 248);
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px; */
  color: black;
}

#page2 h1,
#page3 h1 {
  font-size: 30vw;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
#page2::-webkit-scrollbar-track {
  background: rgb(39, 196, 248); /* Background of the scrollbar track */
  border-radius: 10px; /* Round edges */
}
/*
#page2 h2 {
  font-size: 50px;
  padding: 20px;

  position: relative;
  background-color: yellow;
  cursor: pointer;
}
#page2 h1:hover {
  background-color: rgb(158, 66, 84);
}
#page2 h2:hover {
  background-color: rgba(230, 230, 31, 0.5);
}
*/
#page3 {
  height: 100%;
  width: 100%;
  background-color: black;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#page3::-webkit-scrollbar-track {
  background: black; /* Background of the scrollbar track */
  border-radius: 10px; /* Round edges */
}
/* 
#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
} */
