/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

/* Body Styling */
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 18, 18);
  color: #ffffff79;
}
body {
  overflow-x: hidden;
}
header {
  background-color: #2220209c;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 5px;
}
nav ul {
  list-style: none;
}
nav ul li a,
nav ul li {
  color: #ffffff79;
  margin-bottom: 5px;
  text-decoration: solid;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #03a9f4;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: black;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(39, 196, 248);
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px; */
  color: black;
  padding: 20px 0px;
}

#page2 h1 {
  font-size: 30vw;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
/*
#page2 h2 {
  font-size: 50px;
  padding: 20px;

  position: relative;
  background-color: yellow;
  cursor: pointer;
}
#page2 h1:hover {
  background-color: rgb(158, 66, 84);
}
#page2 h2:hover {
  background-color: rgba(230, 230, 31, 0.5);
}
*/
#page3 {
  height: 100%;
  width: 100%;
  background-color: black;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/* 
#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
} */
