/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

/* Body Styling */
html,
body {
  height: 100%;
  width: 100%;
  cursor: none;

}
#main {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
}

